version: '3.8'

services:
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    ports:
      - "3002:3002"
    environment:
      - MONGO_URI=mongodb://mongo:27017/streameo
    depends_on:
      - mongo
    volumes:
      - ./backend/public:/app/public

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  mongo_data:
